* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: Optima;
  background: #04202D;
  text-align:center;
  color: #fff;
}
#img{
  float:right;
}
